body{
    margin: 0;
    box-sizing: border-box;
    background-color: #F5F8FF;
    font-family: sans-serif;
}
header{
    height: 698px;
    /* width: 1440px; */
    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}
.logo{
    color: rgba(78, 71, 255, 1);
}
.btn-nav{
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 698px;
    
}
.hero-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}
main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
main img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
main p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
main h1{
    font-size:42px ;
    font-weight: bold;
}
.btn-main{
     background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
.users{
    max-width: 1140px;
    margin: 0 auto;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
     
}
.user-count{
      display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 158px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
}
.user-count h2{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}
.users .user-title,
.users .user-count h2,
.users .user-count p
{
  margin: 0;
}
.user-count p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* .............user reviews............... */
.user-review{
    max-width: 1140px;
    margin: 0 auto;
    height: 306px;
    margin-top: 150px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.review-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.reviwer-info{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.reviewer-data h4,
.reviewer-data p {
  margin: 0;
}
.card{
    height: 200px;
    width: 320px;
    border-radius: 24px;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviwer-info img{
    border-radius: 50%;
}
.users-title{
    font-size: 42px;
    font-weight: bold;
}
.focus{
    max-width: 1140px;
    margin: 0 auto;
    height: 696px;
    background-color: white;
    margin-top: 180px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.focus img{
    height: 364.77px;
    width: 840px;
    border-radius: 48px;
    
}
.focus h2, .focus p{
    margin: 0;
}
.focus h2{
    font-size: 50px;
    font-weight: bold;
}
.focus p{
    color: rgba(0, 0, 0, 0.5);
}
.contact{
    max-width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    gap: 10px;
}
.form input{
    width: 497px;
    height: 50px;
    border-radius: 10px;
    /* border: none; */
    border: 1px solid rgb(219, 217, 217);
}
textarea{
     width: 497px;
    height: 135px;
    border-radius: 10px;
    border: 1px solid rgb(219, 217, 217);
}
.contact h2{
    font-size: 97px;
    font-weight: bold;
}
.form label{
    font-size: 18px;
    font-weight: medium;
}
.btn-contact{
     background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 100%;
}
 .btn-contact:hover, .btn-main:hover, .btn-nav:hover{
    background-color:rgb(9, 6, 91) ;
 }