body{
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 698px;
    /* width: 1440px; */
    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}
.logo{
    color: rgba(78, 71, 255, 1);
}
.btn-nav{
    background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 698px;
    
}
.hero-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}
main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
main img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
main p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
main h1{
    font-size:42px ;
    font-weight: bold;
}
.btn-main{
     background-color: rgba(78, 71, 255, 1);
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
